[build]
builder = "nixpacks"
buildCommand = "pip install -r requirements.txt"

[deploy]
startCommand = "python start.py"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
